---
layout: layouts/base.njk
templateClass: tmpl-page
---

{# Hero Content #}
{% set heroText = title%}

{% include "layouts/hero.njk" %}

<div class="Column">
    <div class="MainContent">

        <div class="u-textLeft">

        {{ content | safe }}

        </div>
    </div>
</div>
